{{admin-dashboard/admin-header}}
<div class="container-fluid">
  <div class="row">
    {{admin-dashboard/admin-sidebar  title="test" navs=model}}
  </div>
</div>

{{yield}}

{{admin-dashboard/admin-footer}}

